{% extends 'base.html' %}
{% block content %}
    <style>
        .glass-effect {
            background-color: transparent;
            border-radius: 2px;
            padding: 15px;
        }

        .glass-download-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: cadetblue;
            backdrop-filter: blur(10px);
            text-decoration: none;
            color: white;
            transition: background-color 0.3s ease, color 0.3s ease;
            border-radius: 2px;
        }

        .glass-download-button:hover {
            background-color: green;
            color: white;
        }
    </style>

    <div class="row">
        {% if file.file_upload.url|lower|slice:'-4:' == '.jpg' or file.file_upload.url|lower|slice:'-4:' == '.png' or file.file_upload.url|lower|slice:'-5:' == '.jpeg' %}
            <div class="col-md-8">
                <div class="preview-img-container" style="background-image: url('{{ file.file_upload.url }}');">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-bottom: 30px">
                    <div class="card-body glass-effect">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text" id="location-data">
                            {{ file.content | linebreaks | safe }}
                        </p>


                        <a href="{{ file.file_upload.url }}" class="glass-download-button" download>
                            Download
                        </a>
                    </div>
                </div>
                {% if map_html %}
                    <div class="card glass-effect">
                        <div id="map-container">
                            {{ map_html|safe }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="preview-img-container">
                        <div class="mx-auto" style="width: 800px;">
                            <div class="card bg-white text-dark">
                                <div class="card-body">
                                    <h1 class="card-title text-center">{{ file.file_name }}</h1>
                                    <p class="card-text" id="location-data">
                                        {{ file.content | linebreaks | safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="{{ file.file_upload.url }}" class="glass-download-button" download>
                    Download
                </a>
            </div>
            </div>
        {% endif %}
{% endblock %}

