{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 style="color: #4f709c">Rename File "{{ files.file_name }}"</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'rename_files'  file_id %}">

                {% csrf_token %}
                <div class="form-group">
                    <label for="id_file_name">File Name:</label>
                    <input
                            type="text"
                            name="file_name"
                            class="form-control"
                            id="id_file_name"
                            value="{{ files.file_name }}"
                    />
                    <br/>
                </div>
                <br/>
                <button type="submit" class="btn" style="color: #4f709c">
                    Rename
                </button>
            </form>
        </div>
    </div>
{% endblock %}

