{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 style="color: #4F709C">Create a New Folder</h2>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="hidden" name="parent_folder_id" value="{{ parent_folder_id }}">
                <button type="submit" class="btn" style="color: #4F709C">Create</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Update the hidden input value when the folder selection changes
            $('#id_parent_folder').change(function () {
                let selectedFolderId = $(this).val();
                $('input[name="parent_folder_id"]').val(selectedFolderId);
            });
        });
    </script>
{% endblock %}
