{% extends 'base.html' %} {% load static %} {% block content %}

    <div class="row">
        <div class="col-12">
            {% if folder %}
                <a href="{% url 'create_folder' parent_folder_id=folder.id %}" class="btn btn-outline-secondary ">Create
                    Folder</a>
                <a href="{% url 'upload_file' folder_id=folder.id %}" class="btn btn-outline-secondary">Upload
                    Files </a>
            {% else %}
                <a href="{% url 'create_folder_root' %}" class="btn btn-outline-secondary ">Create Folder</a>
                <a href="{% url 'upload_file_root' %}" class="btn btn-outline-secondary">Upload Files Root</a>
            {% endif %}

        </div>
        <div class="col-md-12 mt-2">
            <table class="documents-table table table-striped table-hover table-bordered table-responsive">
                <thead>
                <tr class="text-strong">
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>File size</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for folder in folders %}
                    <tr>
                        <td><a href="{% url 'folder' folder.id %}">
                            <i class="ti ti-folder-filled text-warning"></i> {{ folder.folder_name }}</a>
                        </td>
                        <td>{{ folder.folder_date }}</td>
                        <td>-</td>
                        <td class="text-end actions">
                            <i class="ti ti-pencil" title="Rename"></i>
                            {% if folder.is_important %}
                                <i class="ti ti-star-filled text-warning" title="Star"></i>
                            {% else %}
                                <i class="ti ti-star" title="Star"></i>
                            {% endif %}
                            <form method="post" action="{% url 'delete_folder' folder_id=folder.id %}">
                                button
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% for file in files %}
                    <tr>
                        <td><a href="">
                            <i class="ti ti-file text-success"></i> {{ file.file_name }}</a>
                        </td>
                        <td>{{ file.file_upload }}</td>
                        <td>-</td>
                        <td class="text-end actions">
                            <i class="ti ti-pencil" title="Rename"></i>
                            {% if folder.is_important %}
                                <i class="ti ti-star-filled text-warning" title="Star"></i>
                            {% else %}
                                <i class="ti ti-star" title="Star"></i>
                            {% endif %}
                            <form method="post" action="{% url 'delete_file' file.id %}">
                                button
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function openFile(url) {
            window.open(url, "_blank");
        }
    </script>

{% endblock %}
