{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .important-icon {
            background-image: url("static/icons/important-d.png");
            width: 150px;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
            cursor: pointer;
        }
    </style>
    <h2>Important</h2>
    <div class="row">
        {% for folder in important_folder %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <div
                                class="important-icon"
                                onclick="openFolder({{ folder.id }})"
                        ></div>
                        <div class="card-text-wrapper">
                            <h5 class="card-title text-info">{{ folder.folder_name }}</h5>
                            <p class="text-muted">Created: {{ folder.folder_date }}</p>
                            <div class="menu">
                                <div class="menu-options">
                                    <a href="{% url 'folder' folder.id %}" class="dropdown-item">Open</a>
                                    <a href="{% url 'update_folder' folder.id %}" class="dropdown-item">Rename</a>
                                    <form method="POST" action="{% url 'delete_folder' folder.id %}"
                                          onsubmit="return confirm('Are you sure you want to delete?');">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Delete</button>
                                    </form>
                                </div>
                                <span>&#8942;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Nothing found.</p>
        {% endfor %}
        {% for file in important_file %}
            <div class="col-lg-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="menu">
                            <div class="card-text-wrapper">
                                {% if file.file_upload.url|lower|slice:'-4:' == ".pdf" %}
                                    <img src="{% static 'icons/pdf-icon.png' %}" alt="PDF Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".jpg" %}
                                    <img src="{{ file.file_upload.url }}" alt="Image" class="file-icon smaller-image"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".png" %}
                                    <img src="{{ file.file_upload.url }}" alt="Image" class="file-icon smaller-image"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".psd" %}
                                    <img src="{% static 'icons/default-psd.png' %}" alt="File Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".xls" %}
                                    <img src="{% static 'icons/exel-default.png' %}" alt="File Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".doc" %}
                                    <img src="{% static 'icons/default-word.png' %}" alt="File Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".zip" %}
                                    <img src="{% static 'icons/default-zip.png' %}" alt="File Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-4:' == ".rar" %}
                                    <img src="{% static 'icons/default-rar.png' %}" alt="File Icon" class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-5:' == ".jpeg" %}
                                    <img src="{{ file.file_upload.url }}" alt="Image" class="file-icon smaller-image"/>
                                {% elif file.file_upload.url|upper|slice:'-4:' == ".MP4" %}
                                    <img src="{% static 'icons/default-video.png' %}" alt="File Icon"
                                         class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-3:' == ".py" %}
                                    <img src="{% static 'icons/default-python.png' %}" alt="File Icon"
                                         class="file-icon"/>
                                {% elif file.file_upload.url|lower|slice:'-3:' == ".js" %}
                                    <img src="{% static 'icons/default-JavaScript.png' %}" alt="File Icon"
                                         class="file-icon"/>
                                {% else %}
                                    <img src="{% static 'icons/default-image.png' %}" alt="File Icon"
                                         class="file-icon"/>
                                {% endif %}
                                <h5 class="card-title">{{ file.file_name }}</h5>
                            </div>
                            <div class="menu-options">
                                <a href="#" onclick="openFile('{{ file.file_upload.url }}');"
                                   class="dropdown-item">Open</a>
                                <a href="#" onclick="location.href='{% url 'rename_files' file.id %}';"
                                   class="dropdown-item">Rename</a>
                                <form method="POST" action="{% url 'delete_file' file.id %}"
                                      onsubmit="return confirm('Are you sure you want to delete?');">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:6 and not forloop.last %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>
    <script>
        function openFile(url) {
            window.open(url, "_blank");
        }
    </script>
    <script>
        // Function to open the folder
        function openFolder(folderId) {
            let url = "{% url 'folder' folder_id=0 %}";
            url = url.replace("0", folderId);
            window.location.href = url;
        }
    </script>
{% endblock %}
