{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>PDF Documents</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Upload Date</th>
                        <th>Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pdf_doc in pdf_documents %}
                        <tr>
                            <td>{{ pdf_doc.title }}</td>
                            <td>{{ pdf_doc.upload_date }}</td>
                            <td>{{ pdf_doc.text_content }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No PDF documents uploaded yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
