<div class="row">
    <div class="col-12">
        {% if folder %}

            <a href="{% url 'create_folder' parent_folder_id=folder.id %}" class="btn btn-outline-secondary ">Create
                Folder</a>
            <a href="{% url 'upload_file' folder_id=folder.id %}" class="btn btn-outline-secondary">Upload
                Files </a>
        {% else %}
            <a href="{% url 'create_folder_root' %}" class="btn btn-outline-secondary ">Create Folder</a>
            <a href="{% url 'upload_file_root' %}" class="btn btn-outline-secondary">Upload Files</a>
        {% endif %}
        <a href="{% url 'export_all_files' %}" class="btn btn-outline-secondary ">Export</a>
    </div>
</div>

<div id="table-view">
    <div class="row">
        <div class="col-md-12 mt-2">
            <table class="documents-table table table-striped table-hover table-bordered table-responsive">
                <thead>
                <tr class="text-strong">
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>File size</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for folder in folders %}
                    <tr>
                        <td><a href="{% url 'folder' folder.id %}">
                            <i class="ti ti-folder-filled text-warning"></i> {{ folder.folder_name }}</a>
                        </td>
                        <td>{{ folder.folder_date }}</td>
                        <td></td>
                        <td class="text-end actions">
                            <form method="post" action="">
                                <div class="d-flex justify-content-start align-items-center">
                                    <a href="{% url 'update_folder' folder.id %}" class="me-2">
                                        <i class="ti ti-pencil" title="Rename"></i>
                                    </a>
                                    {% if folder.is_important %}
                                        <a href="{% url 'unmark_folder' folder.id %}" class="me-2">
                                            <i class="ti ti-star-filled text-warning" title="Important"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'mark_folder' folder.id %}" class="me-2">
                                            <i class="ti ti-star" title="Important"></i>
                                        </a>
                                    {% endif %}
                                    <div class="actions">
                                        <a href="{% url 'delete_folder' folder.id %}">
                                            <i class="ti ti-trash" title="Delete"></i>
                                        </a>
                                        <a href="{% url 'shared_folder' folder.id %}" class="me-2">
                                            <i class="ti ti-brand-stackshare" title="Share"></i>
                                        </a>
                                        <a href="{% url 'export_files_by_id' folder.id %}" class="me-2">
                                            <i class="ti ti-file-export" title="export"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% for file in files %}
                    <tr>
                        <td>
                            <a href="#" onclick="openFile('{{ file.file_upload.url }}')">
                                <i class="ti ti-file text-success"></i> {{ file.file_name }}
                            </a>

                        </td>
                        <td>{{ file.upload_date }}</td>
                        <td>{{ files_size }}</td>
                        <td class="text-end actions">
                            <form method="post" action="">
                                <div class="d-flex justify-content-start align-items-center">
                                    <a href="{% url 'rename_files' file.id %}" class="me-2">
                                        <i class="ti ti-pencil" title="Rename"></i>
                                    </a>
                                    {% if file.is_important %}
                                        <a href="{% url 'unmark_file' file.id %}" class="me-2">
                                            <i class="ti ti-star-filled text-warning" title="Important"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'mark_file' file.id %}" class="me-2">
                                            <i class="ti ti-star" title="Share"></i>
                                        </a>
                                    {% endif %}
                                    <div class="actions">
                                        <a href="{% url 'delete_file' file.id %}">
                                            <i class="ti ti-trash" title="Delete"></i>
                                        </a>
                                        <a href="{% url 'shared_file' file.id %}" class="me-2">
                                            <i class="ti ti-brand-stackshare" title="Share"></i>
                                        </a>
                                    </div>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function openFile(url) {
            let fileExtension = url.split('.').pop().toLowerCase();

            if (fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png' || fileExtension === 'gif') {
                // Open images in a new window
                window.open(url, "_blank");
            } else if (fileExtension === 'mp4' || fileExtension === 'webm' || fileExtension === 'avi') {
                // Open videos in a new window
            window.open(url, "_blank");
            } else if (fileExtension === 'pdf') {
                // Open PDFs in a new window
                window.open(url, "_blank");
            } else {
                // Handle other file types or display an error message
                alert("Unsupported file type. Unable to open.");
            }
        }
    </script>
