
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .file-icon-container img {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    </style>

    {% if view_mode == 'table' %}
        <div id="table-view">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <table class="documents-table table table-striped table-hover table-bordered table-responsive">
                        <thead>
                        <tr class="text-strong">
                            <th>Name</th>
                            <th>User</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for folder in shared_folders %}
                            <tr>
                                <td>
                                    <a href="{% url 'folder' folder.id %}">
                                        <i class="ti ti-folder-filled text-warning"></i> {{ folder.folder.folder_name }}
                                    </a>
                                </td>
                                <td>{{ folder.folder.user.email }}</td>
                                <td>{{ folder.folder.folder_date }}</td>
                            </tr>
                        {% endfor %}
                        {% for file in shared_files %}
                            <tr>
                                <td>
                                    <a href="#" onclick="openFile('{{ file.file.file_upload.url }}')">
                                        <i class="ti ti-file text-success"></i> {{ file.file.file_name }}
                                    </a>
                                </td>
                                <td>{{ file.file.user.email }}</td>
                                <td>{{ file.file.upload_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% elif view_mode == 'icon' %}
        <div id="icon-view">
            <div class="row">
                {% for folder in shared_folders %}
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card" style="width: auto">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <a href="{% url 'folder' folder.folder.id %}" style="text-decoration: none">
                                        <i class="ti ti-folder-filled text-yellow" style="font-size: 100px;"></i>
                                        <div class="folder-details">
                                            <h5 class="card-title text-info" title="{{ folder.folder.folder_name }}">
                                                {{ folder.folder.folder_name|truncatechars:20 }}
                                            </h5>
                                    </a>
                                    <p>{{ folder.folder.user.email }}</p>
                                    <p>{{ folder.folder.folder_date }}</p>
                                </div>

                            </div>
                        </div>
                        <div class="card-text-wrapper">
                            <div class="menu">
                                <div class="menu-options">
                                    <!-- Add your menu options here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}

            {% for file in shared_files %}
                <div class="col-lg-2 col-md-6 col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="menu">
                                <div class="file-icon-container">
                                    {% if file.file.file_upload.url|lower|slice:'-4:' == ".pdf" %}
                                        <img src="{% static 'icons/pdf-icon.png' %}" alt="PDF Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.jpg' or file.file_upload.url|lower|slice:'-4:' == '.png' or file.file_upload.url|lower|slice:'-5:' == '.jpeg' %}
                                        <img src="{{ file.file.file_upload.url }}" alt="Image"
                                             class="file-icon smaller-image"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.psd' %}
                                        <img src="{% static 'icons/default-psd.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.xls' %}
                                        <img src="{% static 'icons/exel-default.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.doc' %}
                                        <img src="{% static 'icons/default-word.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.mp3' %}
                                        <img src="{% static 'icons/default-mp3.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.zip' %}
                                        <img src="{% static 'icons/default-zip.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-4:' == '.rar' %}
                                        <img src="{% static 'icons/default-rar.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|upper|slice:'-4:' == '.MP4' %}
                                        <img src="{% static 'icons/default-video.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-3:' == '.py' %}
                                        <img src="{% static 'icons/default-python.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% elif file.file.file_upload.url|lower|slice:'-3:' == '.js' %}
                                        <img src="{% static 'icons/default-JavaScript.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% else %}
                                        <img src="{% static 'icons/default-image.png' %}" alt="File Icon"
                                             class="file-icon"/>
                                    {% endif %}

                                    <a href="#" onclick="openFile('{{ file.file.file_upload.url }}')">
                                        <h3>{{ file.file.file_name|truncatechars:10 }}</h3>
                                    </a>
                                    <p>{{ file.file.user.email }}</p>
                                    <p class="card-title">{{ file.file.upload_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 and not forloop.last %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    {% endif %}

    <script>
        function openFile(url) {
            window.open(url, "_blank");
        }
    </script>
{% endblock %}
